.acd_desc {
    p {
        font-size: 14px;
        line-height: 150%;
        margin: 0px 0px 16px 0px;
        word-break: break-word;
        font-weight: 300;

        a {
            color: #3861FB;
        }
    }
}