.sec_content {
    max-width: 100%;
    position: relative;
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #EFF2F5;
    background-color: #fff;
    grid-template-columns: clamp(330px, 23%, 480px) 1fr clamp(330px, 23vw, 390px);

    .btn_add {
        width: 34px;
        height: 34px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box_coin {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        grid-row: 1 / 999;
        padding: 20px;
        border-right: 1px solid #EFF2F5;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .box_tabs_menu {
        position: sticky;
        top: -1px;
        z-index: 100;
        padding: 0 5%;
        border-bottom: 1px solid #EFF2F5;
        background-color: #fff;
        overflow: hidden;

        a {
            padding: 24px 16px 8px 16px;
        }
    }

    .box_community {
        position: sticky;
        top: 0;
        overflow: hidden;
        height: 100vh;
        border-left: 1px solid #EFF2F5;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .box_news {
        padding: 0 5%;
    }

    .box_about {
        padding: 0 5%;
    }

    .box_team {
        padding: 0 5%;
    }

    .box_allocation {
        padding: 0 5%;
    }

    .box_footer {
        padding: 0 5%;
        overflow: hidden;
    }

    .box_markets {
        padding: 0 5%;
        overflow: hidden;
    }

    .box_chart {
        padding: 32px 5% 0 5%;
    }
}

@media only screen and (min-width: 1280px) {
    .sec_content {
        .box_community {
            grid-area: 1 / 3 / 999 / 4;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .sec_content {
        grid-template-columns: 330px auto;

        .box_coin {}

        .box_tabs_menu {}

        .box_chart {}

        .box_community {
            position: relative;
            height: auto;
            padding: 0 5%;
        }

        .box_news {
            max-width: 100vw;
        }

        .box_about {
            max-width: 100vw;
        }

        .box_team {
            max-width: 100vw;
        }

        .box_allocation {
            max-width: 100vw;
        }

        .box_footer {
            max-width: 100vw;
        }

        .box_markets {
            max-width: 100vw;
        }
    }
}

@media only screen and (max-width: 1023px) {
    .sec_content {
        grid-template-columns: 1fr;
        max-height: unset;
        overflow: unset;

        .box_coin {
            position: relative;
            grid-row: 3 / 4;
            max-width: 100vw;
            height: auto;
        }

        .box_tabs_menu {
            grid-row: 1 / 2;
            max-width: 100vw;
        }

        .box_chart {
            grid-row: 2 / 3;
            max-width: 100vw;
        }

        .box_community {
            position: relative;
            grid-row: 4 / 5;
            max-width: 100vw;
            height: auto;
        }

        .box_news {
            max-width: 100vw;
        }

        .box_about {
            max-width: 100vw;
        }

        .box_team {
            max-width: 100vw;
        }

        .box_allocation {
            max-width: 100vw;
        }

        .box_footer {
            max-width: 100vw;
        }

        .box_markets {
            max-width: 100vw;
        }
    }
}

.list_news {
    li {
        position: relative;
        padding: 0 24px 32px;

        &::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            top: 3px;
            left: 0;
            transform: translate(-50%, 0);
            background-color: #EFF2F5;
            border-radius: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: calc(100% - 14px);
            top: 16px;
            left: 0;
            transform: translate(-50%, 0);
            background-color: #EFF2F5;
            border-radius: 100%;
        }

        .txt_h {
            font-size: 16px;
            font-weight: 600;
            color: #0D1421;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .txt_desc {
            font-size: 14px;
            font-weight: 300;
            color: #616E85;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 8px;
        }

        .txt_f {
            font-size: 12px;
            font-weight: 500;
            color: #616E85;
            margin-top: 8px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.txt_nh {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txt_n {
    width: 100%;
    font-weight: 300;
    font-size: 11px;
    margin-top: 6px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrap_link {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 10px;
    border-radius: 8px;
    padding: 2px 5px;
}

.item_sc {
    height: 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #CFD6E4;
    padding: 0 8px 0 3px;

    .icon_sc {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            transition: all .3s;
        }
    }

    &:hover {
        .icon_sc {
            svg {
                transform: scale(1.2);
            }
        }
    }
}

.item_cm {
    height: 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 8px 0 3px;
    font-weight: 500;

    .icon_cm {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            transition: all .3s;
        }
    }

    span {
        transition: all .3s;
    }

    &:hover {
        .icon_cm {
            svg {
                color: #3861fb;
            }
        }

        span {
            color: #3861fb;
        }
    }
}

.tooltip_box {
    background-color: #fff;
    box-shadow: 0px 8px 32px 0px rgba(128, 138, 157, 0.24);
    padding: 16px;
    border-radius: 8px;
    position: relative;
    margin-left: 5px;

    &::before {
        content: "";
        display: block;
        width: 0px;
        z-index: 10;
        height: 0px;
        border-width: 10px;
        border-style: solid;
        border-image: initial;
        border-top-color: transparent;
        border-right-color: #ffffff;
        border-left-color: transparent;
        border-bottom-color: transparent;
        position: absolute;
        top: calc(50% - 10px);
        left: -20px;
    }
}

.tooltip_metrics_table {
    width: 320px;
    background-color: #fff;
    box-shadow: 0px 8px 32px 0px rgba(128, 138, 157, 0.24);
    padding: 16px;
    border-radius: 8px;
    position: relative;
    margin-left: 5px;

    &::before {
        content: "";
        display: block;
        width: 0px;
        z-index: 10;
        height: 0px;
        border-width: 10px;
        border-style: solid;
        border-image: initial;
        border-top-color: transparent;
        border-right-color: #ffffff;
        border-left-color: transparent;
        border-bottom-color: transparent;
        position: absolute;
        top: calc(50% - 10px);
        left: -20px;
    }
}

.converter_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    border-radius: 6px;
    overflow: hidden;

    margin-top: 10px;
    padding: 4px;
    background-color: #EFF2F5;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 8px;
}

.text_desc {
    p {
        font-size: 14px;
        line-height: 150%;
        margin: 0px 0px 16px 0px;
        word-break: break-word;
        font-weight: 300;

        a {
            color: #3861FB;
        }
    }
}

.table_market {
    position: relative;

    thead {
        tr {
            th {
                padding: 10px;
                border-top: 1px solid #EFF2F5;
                position: sticky;
                top: 0;
                background-color: #fff;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 10px;
                border-top: 1px solid #EFF2F5;
                transition: all .3s;
            }

            &:hover {
                td {
                    background-color: #EFF2F5;
                }
            }
        }
    }
}